{
    "presets": ["@babel/preset-env"],
	"plugins": [[
		"@babel/plugin-transform-runtime", {
			"helpers": true,
			"regenerator": true,
			"absoluteRuntime": false,
			"corejs": false,
			"version": "7.0.0-beta.0"
		}
	],"add-module-exports"],
	"comments": false,
	"compact": true
}
